lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*~

#.gitignore#

pids
logs
results

npm-debug.log

node

node_modules

.DS_Store

keepAlive/.git
keepAliveClient/.git
keepAliveClient/config.js
remoteSlideshowServer/.git
